$media-l: 1920px;
$media-m: 1440px;
$media-s: 576px;

@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin media($px) {
    @media (max-width: $px) {
        @content;
    }
}
