* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    &,
    &:visited {
        text-decoration: none;
    }
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    font-size: 14px;
    line-height: 1;
    text-size-adjust: 100%;
}

table {
    border-spacing: 0;
}

input {
    outline-offset: 0;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

label {
    margin-bottom: 0;
}
