:root {
    --font-inter: 'Inter', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --default-text-color: rgb(29, 30, 33);
    --default-line-height: normal;
    --default-font-size: 1.6rem;
    --wrapper-max-width: 90.4rem;
}
