{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "scss/double-slash-comment-whitespace-inside": null,
    "no-empty-source": null,
    "custom-property-empty-line-before": null,
    "color-function-notation": "legacy",
    "selector-class-pattern": "(^_$)|(^_?[a-z]+_?[a-z0-9]*$)",
    "order/order": [
      [
        "dollar-variables",
        "custom-properties",
        "rules"
      ]
    ]
  }
}
