._ {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 28.4rem;
    min-height: inherit;
    padding: 0 2.4rem 2.4rem;
    border-right: 0.1rem solid rgba(0, 0, 0, 10%);
    font-family: var(--font-roboto);
}

.logo {
    width: 12.3rem;
    margin-bottom: 2.4rem;
}

.nav {
    flex: 1;
}

.about_link {
    color: rgb(143, 152, 166);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.03rem;

    &:global(.active) {
        font-weight: 400;
    }
}
